@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Slabo 27px', serif;
  background: #fff;
}

h1 {
  text-align: center;
  font-size: 4em;
}

.title-screen {
  margin-top: 80px;
}

.start-button {
  font-size: 2em;
}

.game-card {
  max-width: 300px;
}

.game-card .card-text {
  text-align: center;
  font-size: 3em;
}