@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Slabo 27px', serif;
  background: #fff;
}

h1 {
  text-align: center;
  font-size: 4em;
}

.title-screen {
  margin-top: 80px;

  .btn-bab {
    font-size: 2.5rem;
  }
}

.start-button {
  font-size: 2em;
}

.countdown {
  font-size: 2em;
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 800;
}

.successPad {
  background-color: transparent;
  position: fixed;
  height: 90vh;
  width: 50vw;
  top: 0;
  left: 0;
  z-index: 999;
}

.passPad {
  background-color: transparent;
  position: fixed;
  height: 90vh;
  width: 50vw;
  top: 0;
  left: 50vw;
  z-index: 999;
}

.game-card {
  text-align: center;
  img {
    max-height: 50vh;
    max-width: 50vw;
  }
}

.game-card .card-text {
  text-align: center;
  font-size: 3em;
}

.active-card {
  border: none;
}